/* Comment @charset if out is not the first style source in html. */
@charset "UTF-8";

/* Add namespaces as needed, start by uncommenting the following. */
/* @namespace url(http://www.w3.org/1999/xhtml); */

/* Display Fonts */
@font-face {
  font-family: "Display-Font";
  src:
    url("https://fonts.gstatic.com/s/robotoflex/v28/WAey_0cCgjNeHW6pW66nwa9r3wRzp02x.woff2")
      format("woff2"),
    url("https://fonts.gstatic.com/s/robotoflex/v28/WAey_0cCgjNeHW6pW66nwa9r3wRzp02x.woff")
      format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Heading Fonts */
@font-face {
  font-family: "Heading-Font";
  src:
    url("https://fonts.gstatic.com/s/robotoflex/v28/WAey_0cCgjNeHW6pW66nwa9r3wRzp02x.woff2")
      format("woff2"),
    url("https://fonts.gstatic.com/s/robotoflex/v28/WAey_0cCgjNeHW6pW66nwa9r3wRzp02x.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Body Fonts */
@font-face {
  font-family: "Body-Font";
  src:
    url("https://fonts.gstatic.com/s/robotoflex/v28/WAey_0cCgjNeHW6pW66nwa9r3wRzp02x.woff2")
      format("woff2"),
    url("https://fonts.gstatic.com/s/robotoflex/v28/WAey_0cCgjNeHW6pW66nwa9r3wRzp02x.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Caption Fonts */
@font-face {
  font-family: "Caption-Font";
  src:
    url("https://fonts.gstatic.com/s/robotoflex/v28/WAey_0cCgjNeHW6pW66nwa9r3wRzp02x.woff2")
      format("woff2"),
    url("https://fonts.gstatic.com/s/robotoflex/v28/WAey_0cCgjNeHW6pW66nwa9r3wRzp02x.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Button Fonts */
@font-face {
  font-family: "Button-Font";
  src:
    url("https://fonts.gstatic.com/s/robotoflex/v28/WAey_0cCgjNeHW6pW66nwa9r3wRzp02x.woff2")
      format("woff2"),
    url("https://fonts.gstatic.com/s/robotoflex/v28/WAey_0cCgjNeHW6pW66nwa9r3wRzp02x.woff")
      format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Link Fonts */
@font-face {
  font-family: "Link-Font";
  src:
    url("https://fonts.gstatic.com/s/robotoflex/v28/WAey_0cCgjNeHW6pW66nwa9r3wRzp02x.woff2")
      format("woff2"),
    url("https://fonts.gstatic.com/s/robotoflex/v28/WAey_0cCgjNeHW6pW66nwa9r3wRzp02x.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Monospace Fonts */
@font-face {
  font-family: "Monospace-Font";
  src:
    url("https://fonts.gstatic.com/s/robotomono/v23/L0xTDF4xlVMF-BfR8bXMIjhOsXG-q2kyNvs.woff2")
      format("woff2"),
    url("https://fonts.gstatic.com/s/robotomono/v23/L0xTDF4xlVMF-BfR8bXMIjhOsXG-q2kyNvs.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
