@import url("./#at-rules.css");

/* Essential */
:root {
  --live-preview-extension-background: white;
  --live-preview-extension-inactive: rgb(199, 69, 69);
  --live-preview-extension-active: rgb(0, 119, 166);
  --live-preview-extension-light: white;
  --live-preview-extension-dark: rgb(70, 70, 70);
  --live-preview-extension-delta: 1.2rem;
  --live-preview-font-family: monospace;
}
